target/
*.war
*.jar

.mvn/
mvnw
mvnw.cmd

.idea/
.project
.classpath
*.iml
*.ipr
*.iws
.settings/
.vscode/

# 🔹 Ignorar archivos de Jenkins y pipelines
jenkins_home/
*.log
workspace/
node_modules/
.jenkins/
.pipeline/

docker/webapps/
docker/webapps/*
docker/tomcat/logs/
docker/tomcat/temp/
docker/tomcat/work/

docker-compose.override.yml
.env
*.pid
*.sock

k8s/manifests/generated/
k8s/.cache/
ArgoCD/*.backup
ArgoCD/*.lock
ArgoCD/*.tmp

volumes/
docker-data/

secrets/
*.pem
*.key
*.crt
*.enc
*.kube/
.kube/config
**/kubeconfig
argocd/config
argocd/secrets/
argocd/kustomize/
argocd/kubeconfig

.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.~lock
